<div class="container">
    <h2 class="title">Lista de Recursos Educativos</h2>
    <button class="btn btn-primary" routerLink='/experto/crear-recurso'>Crear Recursos</button>
    <div *ngIf="cargando" class="loading">Cargando...</div>
    <table *ngIf="!cargando && recursos.length > 0" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Recurso</th>
          <th>URL</th>
          <th>Carrera</th>
          <th>Experto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recurso of recursos">
          <td>{{ recurso.id }}</td>
          <td>{{ recurso.nombre }}</td>
          <td>{{ recurso.descripcion }}</td>
          <td>{{ recurso.recurso}}</td>
          <td>{{ recurso.url}}</td>
          <td>{{ recurso.carreraId}}</td>
          <td>{{ recurso.expertoId}}</td>
          <td>
            <button class="btn btn-warning" [routerLink]="['/experto/actualizar-recursos', recurso.id]">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  